@(registerForm: Form[entities.RegisterData])(implicit request: MessagesRequestHeader)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor("col-md-2", "col-md-10") }

<div id="register-form">
    <br/>
    <h3>Please register</h3>
    <br/>

    @helper.form(action = routes.AuthenticationController.validateRegisterForm(), Symbol("id") -> "user-register-form") {
        @b4.vertical.formCSRF(routes.AuthenticationController.validateRegisterForm()) { implicit vfc =>
            @b4.text(
                registerForm("username"),
                Symbol("placeholder") -> "Username",
                Symbol("id") -> "register_username",
                Symbol("_help") -> "Between 6 and 32 characters",
                Symbol("size") -> 50
    )
            @b4.email(
                registerForm("email"),
                Symbol("placeholder") -> "example@email.com",
                Symbol("id") -> "register_email",
                Symbol("size") -> 50
    )
            @b4.password(
                registerForm("password"),
                Symbol("id") -> "register_password",
                Symbol("placeholder") -> "Password",
                Symbol("_help") -> "Between 6 and 32 characters"
    )
        }
        @b4.submit(
            Symbol("class") -> "btn btn-default auth-btn",
            Symbol("onclick") -> "serverServices.register()"
        ){ Register }
    }



</div>