@import views.html.partials._

@(logForm: Form[entities.LoginData], regForm: Form[entities.RegisterData])(implicit request: MessagesRequestHeader, flash: Flash)

<h1 class="title">Welcome to Play!</h1>

<div class="form-content">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link active" href="#login-form-tab">Login</a>
        </li>
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link" href="#sign-up-form-tab">Register</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active fade show active" id="login-form-tab">
            @loginForm(logForm)
        </div>
        <div class="tab-pane fade in" id="sign-up-form-tab">
            @registerForm(regForm)
        </div>
    </div>
</div>

@if(!request.flash.isEmpty || logForm.hasGlobalErrors || regForm.hasGlobalErrors){
    <div id="popup1" class="overlay">
        <div class="popup">
            @if(!request.flash.isEmpty) {
                @request.flash.data.map { case(name,value) => {
                        <h2>@name</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            @value
                        </div>
                    }
                }
            }
            else {
                @if(logForm.hasGlobalErrors) {
                    @logForm.globalErrors.map { error: FormError => {
                        <h2>@error.key</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            @error.message
                        </div>
                        }
                    }
                }
                else {
                    @regForm.globalErrors.map { error: FormError => {
                        <h2>@error.key</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            @error.message
                        </div>
                        }
                    }
                }
            }
        </div>
    </div>
}