@()(implicit request: RequestHeader, flash: Flash)
<h3>Welcome back!</h3>
<div id="infoContainer"></div>

    <!--
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Dropzone File Upload</h3>
        <div class="row mt">
            <div class="white-panel mt">
                <div class="panel-body">
                    <form action="assets/dropzone/upload.php" class="dropzone" id="my-awesome-dropzone"></form>
                </div>
            </div>
        </div>
    </section>
    -->
    <!-- /wrapper -->


<script src="@routes.Assets.versioned("javascripts/drop-zone.js")" type="text/javascript"></script>