<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="mt">
                <a id="dashboardTab" class="menu-item active">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a id="chatroomTab" class="menu-item">
                    <i class="fa fa-comments"></i>
                    <span>Chat Room</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>