@(startRoute: String)(implicit request: MessagesRequestHeader, flash: Flash)

@main("Login or Register") {
    <div id="contents" class="text-center"></div>

    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="startRoute" value="@startRoute">
    <input type="hidden" id="validateLoginRoute" value="@routes.AuthenticationController.validateLoginForm()">
    <input type="hidden" id="validateRegisterRoute" value="@routes.AuthenticationController.validateRegisterForm()">


    <script src="@routes.Assets.versioned("javascripts/server-services.js")" type="text/javascript"></script>
}